@import './../../../../../app/styles/mixins';
.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
  grid-template-columns: 45% 55%;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.text-wrapper {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 2;
  padding-left: 100px;
}

.text-paragraph {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.header-wrapper {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: right;
  margin-left: auto;
  padding-bottom: 100px;
}

.swiper-wrapper {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.swiper-component-wrapper {
  //todo: if width set < than container's, wirks good
  //todo: otherwise last index isn't triggered. Think of it
  width: 400px;
  margin-left: auto;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
