@import './../../../../../app/styles/_variables';

.header-block {
  height: 120px;
  width: 100%;

  &-wrapper {
    display: grid;
    grid-template-columns: [left] 1fr [middle] 3.5fr [right] 1fr;
    grid-template-rows: [top] 120px [header] 150px [button] auto;
    width: 100%;
    height: 525px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  &.nav-wrapper {
    position: fixed;
    top: 0;
    grid-row: top;
    grid-column: left / span 3;
    display: flex;
    justify-content: space-between;
    height: 120px;

    .link-root {
      display: block;
      margin-left: 50px;
      align-self: center;
      text-transform: uppercase;
      flex-basis: 0;
      flex-grow: 1;

      &, &:hover, &:focus, &:visited {
        text-decoration: none;
      }
    }

    .navigation {
      align-self: center;
      text-transform: uppercase;
      flex-basis: 0;
      flex-grow: 1;

      &-list {
        list-style: none;
        display: flex;
        padding-left: 0;
        justify-content: center;

        &-item {
          margin-right: 15px;

          &-text {
            color: $color-text-accent;
            transition: .3s color ease;
            white-space: nowrap;

            &, &:hover, &:focus, &:visited {
              text-decoration: none;
            }


            &:hover {
              color: $color-text-regular;
              transition: .3s color ease;
            }
          }

          &.active {
            color: $color-text-regular;
            transition: .3s color ease;
            border-bottom: 1px solid $color-text-regular;
          }

          font-weight: bold;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .social {
      align-self: center;
      margin-right: 50px;
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &.header-wrapper {
    grid-column: middle;
    grid-row: header;

    .page-header {
      display: flex;
      justify-content: center;

      &-text {
        text-align: center;
        font-weight: 600;
      }
    }
  }

  &.button-wrapper {
    grid-column: middle;
    grid-row: button;
  }
}
