@import './../../../../../app/styles/_variables';

@mixin transHeader() {
  transition: .3s background-color ease .3s;
}

@mixin transBottomLine($duration) {
  transition: $duration width cubic-bezier(.84, -.36, .13, 1.13);
}

@keyframes arrowdown {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  25% {
    margin-top: 10px;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-top: 10px;
    opacity: 0;
  }
}

@keyframes arrowup {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  25% {
    margin-top: -10px;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-top: -10px;
    opacity: 0;
  }
}

.header-block {
  &-wrapper {
    display: grid;
    grid-template-columns: [left] 1fr [middle] 3.5fr [right] 1fr;
    grid-template-rows: [top] 120px [header] 150px [button] auto;
    width: 100%;
    height: 525px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    justify-items: center;
  }

  &.button-wrapper {
    grid-column: middle;
    grid-row: button;
    justify-self: center;

    .button {
      justify-self: center;
    }
  }
}

.page-header {
  grid-column: middle;
  grid-row: header;
  align-self: end;
  margin-bottom: 15px;
  font-weight: 600;
}

.nav-wrapper {
  grid-column: left / span 3;;
  grid-row: top;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 35px;
  width: 100%;
  z-index: 10;
  @include transHeader();

  .bottom-line {
    position: absolute;
    height: 1px;
    background-color: #000000;
    bottom: 0;
    width: 0;
    transform: translateX(-50%);
    left: 50%;
    @include transBottomLine(.3s);
  }

  &.fixed {
    background-color: #ffffff;
    position: fixed;
    margin-top: 0;
    @include transHeader();

    .bottom-line {
      width: 100%;
      @include transBottomLine(1s);
    }
  }

  .link-root {
    display: block;
    margin-left: 100px;
    align-self: center;
    text-transform: uppercase;
    flex-basis: 0;
    flex-grow: 1;

    &, &:hover, &:focus, &:visited {
      text-decoration: none;
    }
  }

  .navigation {
    align-self: center;
    text-transform: uppercase;
    flex-basis: 0;
    flex-grow: 1;

    &-list {
      list-style: none;
      display: flex;
      padding-left: 0;
      justify-content: center;

      &-item {
        margin-right: 15px;

        &-text {
          color: $color-text-accent;
          transition: .3s color ease;
          white-space: nowrap;

          &, &:hover, &:focus, &:visited {
            text-decoration: none;
          }

          &.active {
            color: $color-text-regular;
            transition: .3s color ease;
            border-bottom: 1px solid $color-text-regular;
          }

          &:hover {
            color: $color-text-regular;
            transition: .3s color ease;
          }
        }

        font-weight: bold;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .right-side {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    margin-right: 100px;
  }

  .social {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    &-icon {
      font-size: 1.5rem;
      margin-right: 20px;
      align-self: center;

      &, &:hover, &:focus, &:visited {
        text-decoration: none;
      }

      &:last-child {
        margin-right: 75px;
      }
    }
  }

  .language-selector {
    align-self: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    transition: .3s color ease;
    display: flex;
    height: 30px;

    &-text {
      align-self: center;
    }

    &-icon {
      align-self: center;
    }

    &:hover {
      .language-selector-icon {
        animation: arrowdown 1s infinite linear;
      }
    }

    .language-list {
      list-style: none;
      position: absolute;
      left: -15px;
      padding: 0;
      margin: 0;
      z-index: 21;
      border: 1px solid #000;
      top: -200px;
      opacity: 0;
      transition: .3s all cubic-bezier(.46, .17, .47, 1.58);

      &.open {
        top: -15px;
        opacity: 1;
        transition: .5s all cubic-bezier(.46, .17, .23, 1.32);
      }

      &-item {
        padding: 15px 15px 0;
        background-color: #ffffff;
        white-space: nowrap;
        display: flex;

        &-icon {
          transform: rotate(180deg);
          display: block;
          align-self: center;

          &:hover {
            animation: arrowup 1s infinite linear;
          }
        }

        &-text {
          align-self: center;

          text-decoration: none;

          &:hover {
            text-decoration: none;
            color: $color-text-accent;
            transition: .3s color ease;
          }
        }

        &:last-child {
          padding-bottom: 15px;
        }
      }
    }
  }
}
