.header-block {
  height: 120px;
  width: 100%;

  &-wrapper {
    display: grid;
    grid-template-columns: [left] auto [middle] auto [right] auto;
    grid-template-rows: [top] 120px [header] 150px [button] auto;
    width: 100%;
    height: 525px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .link {
    &-root {
      &, &:hover, &:focus, &:visited {
        text-decoration: none;
      }

      display: block;
      margin-left: 50px;
      align-self: center;
    }
  }

  .navigation {
    align-self: center;
  }

  .social {
    align-self: center;
    margin-right: 50px;
  }

  &.nav-wrapper {
    position: sticky;
    top: 0;
    grid-row: top;
    grid-column: left / span 3;
    display: flex;
    justify-content: space-between;
    height: 120px;
  }

  &.header-wrapper {
    grid-column: middle;
    grid-row: header;
  }

  &.button-wrapper {
    grid-column: middle;
    grid-row: button;
  }
}
