<div class="header-block-wrapper" [ngStyle]="{'background-image': 'url(' + src + ')'}">
  <div class="header-block nav-wrapper">
    <a class="link-root" href="/">
      <h4>
        <span class="accent">{{title[0]?.toUpperCase()}} </span>
        <span>{{title[1]?.toUpperCase()}}</span>
      </h4>
    </a>
    <nav class="navigation">navigation</nav>
    <span class="social">social, language</span>
  </div>
  <div class="header-block header-wrapper">header</div>
  <div class="header-block button-wrapper">button</div>
</div>
