@import './../../../../../app/styles/_variables';
@import './../../../../../app/styles/_mixins';

.attend-button {
  height: 70px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  min-width: 280px;
  font-weight: bold;
  padding: 0 50px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition: color .3s ease;
  font-size: .8rem;

  @include mobile-breakpoint {
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .15);
    min-width: auto;
  }

  &:before {
    content: '';
    background-color: $color-text-accent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: -1;
    transition: right .3s cubic-bezier(.84, -.36, .13, 1.13);
  }

  &:hover {
    color: #ffffff;
    transition: color .3s ease;

    &:before {
      right: 0;
      transition: right .3s cubic-bezier(.84, -.36, .13, 1.13);
    }
  }
}

.datetime {
  display: flex;
  justify-content: space-between;

  .date, .time {
    flex-basis: calc(50% - 10px);
  }
}

.recaptcha {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  border: none;
  background-color: $color-text-accent;
  color: #ffffff;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;

  &[disabled] {
    background-color: #e5e5e5;
    cursor: pointer;
  }
}

.explanation {
  margin-top: 11px;
  line-height: 16px;
  font-size: 14px;

  &.oneof-field-err {
    margin-top: 0;
    color: $color-warning;
  }

  &.uniq-field-err {
    margin-top: 0;
    color: $color-error
  }
}

.header {
  text-align: center;
}
