<button class="attend-button accent" (click)="openModal(modalAppointment)">
  {{text}}
</button>

<ng-template #modalAppointment let-modalData="modalData">
  <h3>{{modalData.header}}</h3>
  <app-input></app-input>
  <app-input></app-input>
  <app-input></app-input>
  <div class="datetime">
    <app-date></app-date>
    <app-time></app-time>
  </div>
  <app-select></app-select>
  <app-textarea></app-textarea>
  <app-checkbox></app-checkbox>
  <button>{{modalData.pageData.submit}}</button>
  {{modalData.pageData.explanation}}
</ng-template>
