<div class="input-wrapper">
  <label class="input-label" (click)="stopPropagation($event)">
    <input class="input"
           #dp="ngx-mydatepicker"
           ngx-mydatepicker
           [ngModel]="value"
           (ngModelChange)="writeValue($event)"
           [ngModelOptions]="{standalone: true}"
           [options]="dpOptions"
           (input)="input($event)"
           (blur)="onBlur($event)"/>
    <div class="input-text" [class.top]="value || textValue">{{label}}</div>
    <span class="input-icon icon-calendar" (click)="dp.toggleCalendar()"></span>
  </label>
</div>
