@import './../../../../styles/variables';

.block {
  &-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-image {
    max-width: 370px;
  }

  &-info {
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
    }

    &-paragraph {
      margin: 20px 0 40px;
    }

    &-link {
      text-transform: uppercase;
      font-weight: bold;
      color: $color-text-accent;
      padding: 5px 0;
      border-bottom: 2px solid $color-text-accent;
    }
  }
}
