/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&subset=cyrillic');
@import 'app/styles/_variables';
@import 'app/styles/_mixins';
@import "icomoon";

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-regular;

  a {
    color: $color-text-regular;
  }

  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  .accent {
    color: $color-text-accent;
  }

  @media (max-width: $moblie-width) {
    font-size: 15px;
    line-height: 22px;

    h1 {
      font-size: 38px;
      line-height: 33px;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
      line-height: 22px;
      font-weight: 700;
    }

    h3 {
      font-size: 15px;
      line-height: 22px;
      font-weight: 700;
    }
  }
}
